.show-sect-container{
    padding: 2rem 4rem;
}
.show-sect-container .img-fluid{
    width: 100%;
}
.video-sect-container video{
    width: 100%;
    margin: 10px 0;
}

.video-sect-container span{
    display: block;
    margin: 20px auto;
}

@media screen and (max-width:768px){
    .show-sect-container{
        padding: 1rem 0;
    }


}